@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding: 20px 0;
  }
  
  .slide {
    padding: 10px;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: black; /* Adjust color as needed */
  }

  html {
    scroll-behavior: smooth;
}

  